<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>\n[%-5level] [%d{yyyy-MM-dd HH:mm:ss}] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.ausraiv.coordination" level="info" />

    <logger name="org.apache.zookeeper" level="error" />

    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>